*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* For testing only */

*:not(body):not(html):not(.container) {
  box-sizing:border-box;
  border:2px dashed #000;
}

/* End for testing */

@-ms-viewport{
  width: device-width;
}

html, body {
  margin: 0;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.nav {
  height: 15vh;
  width: 100%;
  float: left;
  margin-top: -8em;
  margin-bottom: 5em;


}

.nav h2 {
  height: 5vh;
  width: 50%;
  padding-top: -.3em;
  background-color: #DFBC5E;
}

.nav ul {
    display: inline;
    /*width: 50%;*/
    list-style: none;
    height: 20vh;
    margin: 0 auto;

}

li {
  float: left;
  width: 20%;
  background-color: #DFBC5E;
  margin-right: 2em;
  height: 2.5vh;
}

header {
  margin-top: 8em;
  height: 14vh;
  margin-bottom: 11vh;
}

header h1 {
  height: 5vh;
  background-color: #8AA7FF;
}

h4 {
  height: 3vh;
  width: 100%;
  margin-top: 3em;
  margin-bottom: 2em;
  background-color: #D6FFFB;
}

p {
  height: 15vh;
  width: 100%;
  margin-bottom: 5em;
}

img {
  width: 100%;
  height: 50vh;
  margin-top: -2em;
  background-color: #FFAF78;
}

@media screen and (min-width: 768px) {

.nav {
  height: 5em;
}

.nav h2 {
  float: left;
  width: 30%;
  height: 3vh;
}

.nav ul {
  float: right;
  width: 50%;
  height: 2vh;
  margin: 2em 3em 0 0;
}

ul li {
  height: 1em;
}

header {
  width: 90%;
  margin: 10em auto 5em;

}

.col1, .col2, .col3, .col4 {
  float: left;
  width: 48%;
  text-align: left;
}

.col1, .col3 {
  margin-right: 2%;
}

img {
  width: 100%;
  height: 20vh;
}

h4 {
  height: 1.5vh;
}
}

@media screen and (min-width: 1280px) {
  .nav h2 {
    width: 20%;
    height: 6vh;
    margin: 0px;
  }

  .nav ul {
    margin: 1em 1em 0 0;
  }

  .nav li {
    float: right;
  }

    header {
    margin-bottom: 13em;
  }

    header h1 {
    height: 10vh;
  }

  .col1, .col2, .col3, .col4 {
    float: left;
    width: 23%;
    text-align: left;
  }

  .col1, .col3 {
    margin-right: 2%;
    margin-left: 2%;
  }

  h4 {
    height: 3vh;
  }

  img {
    width: 100%;
    height: 35vh;
  }

  .col1 p, .col2 p, .col3 p, .col4 p {
    background-color: #8AA7FF;
    height:40vh;
    margin-bottom: 3em;;
    }
}

  .clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
